.price-boxh {
    height: 350px;
    margin-bottom: 100px;
  }
  .price-rated {
    padding-top: 10px;
  }
  .categories {
    margin-top: 100px;
  }
  
  .text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .rate {
    width: 120px;
    margin-bottom: 50px;
    margin-top: -5px;
  }
  .name,
  .price {
    margin-top: 20px;
  }
  .iq-header {
    background-image: url("../assets/IQool Conditioner.jpg");
    height: 190px;
  }
  .deh-header {
    background-image: url("../assets/Dehumidifiers Conditioner.jpg");
    height: 190px;
  }
  .ele-header {
    background-image: url("../assets/Electric Conditioner.jpg");
    height: 190px;
  }
  .eiq-header {
    background-image: url("../assets/EiQ-AM09 Conditioner.jpg");
    height: 190px;
  }
  .delo-header {
    background-image: url("../assets/De longhi_pacan Conditioner.jpg");
    height: 190px;
  }
  .eag-header {
    background-image: url("../assets/Aeg Conditioner.jpg");
    height: 190px;
  }
  .am-header {
    background-image: url("../assets/Amcor Conditioner.jpg");
    height: 190px;
  }
  .del-header {
    background-image: url("../assets/Delonghi Conditioner.jpg");
    height: 190px;
    width: 170px;
    margin-top: 5px;
    margin-left: 35px;
  }
  .hom-nav{
    margin-left: -150px;
  } 
  .hom-nav:hover{
    color: black;
  }