.column1 img {
    width: 400px;
    margin-top: 10px;
    margin-left: 60px;
  }
  
  .dcs {
    width: 100%;
    margin-top: 80px;
  }
  .dcs p {
    margin-top: 20px;
    width: 400px;
  }
  
  .column1 {
    float: left;
    width: 50%;
  }
  
  .pay{
    width: 200px;
    margin-left: 700px;
    
  }
  .buy-btn{
    margin-left: 200px;
    margin-bottom: 40px;
  }

  .mr{
      margin-left: 20px;
      margin-top: 60px;
  }